[safe]
	directory = *
	directory = *
[credential]
	helper = cache --timeout=360000
[user]
	email = jlorquin@gmail.com
	name = jlorquin
{{- $gh := lookPath "gh" }}
{{- if $gh }}
[credential "https://github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential
{{- end }}
[alias]
	cmp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
